<div class="features">
    <h2 class="features__header">Features</h2>
    <p class="features__header__description">Most calendars are designed for teams.
        Slate is designed for freelancers</p>

    <div class="features__items">
        <figure class="features__var-fonts">
            <img class="features__var-fonts-icon" src="img/var-fonts.png" alt="figures">
            <figcaption class="caption">OpenType features
                Variable fonts</figcaption>
            <p class="features__description">Slate helps you see how
                many more days you need
                to work to reach your
                financial goal.</p>
        </figure>

        <figure class="features__real-data">
            <img class="features__real-data-icon" src="img/real-data.png" alt="pencil">
            <figcaption class="caption">Design with real data</figcaption>
            <p class="features__description">Slate helps you see how
                many more days you need
                to work to reach your
                financial goal.</p>
        </figure>

        <figure class="features__action">
            <img class="features__action-icon" src="img/action.png" alt="brush">
            <figcaption class="caption">Fastest way to
                take action</figcaption>
            <p class="features__description">Slate helps you see how
                many more days you need
                to work to reach your
                financial goal.</p>
        </figure>

    </div>
</div>