<div class="features">
    <h2>Features</h2>
    <p>Most calendars are designed for teams.
        Slate is designed for freelancers</p>

    <div>
        <figure>
            <img src="img/var-fonts.png" alt="figures">
            <figcaption>OpenType features
                Variable fonts</figcaption>
        </figure>
        <p>Slate helps you see how
            many more days you need
            to work to reach your
            financial goal.</p>
        <figure>
            <img src="img/real-data.png" alt="pencil">
            <figcaption>Design with real data</figcaption>

        </figure>
        <p>Slate helps you see how
            many more days you need
            to work to reach your
            financial goal.</p>
        <figure>
            <img src="img/action.png" alt="brush">
            <figcaption>Fastest way to
                take action</figcaption>

        </figure>
        <p>Slate helps you see how
            many more days you need
            to work to reach your
            financial goal.</p>
    </div>
</div>