<header>
    <ul class="menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">Product</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contacts</a></li>
    </ul>

    <img src="img/main-logo.png" alt="Figma-logo">

    <div>
        <a href="https://twitter.com/?lang=uk"> <img class="twitter__logo" src="img/twitter-bird.png"
                alt="twitter__logo"></a>
        <a href="https://uk-ua.facebook.com/"><img src="img/facebook.png" alt="facebook-logo"></a>
        <a href="https://www.linkedin.com/"><img src="img/linked-in.png" alt="Linked-in-logo"></a>
    </div>

    <div>
        <h1 class="header__text">The best products
            start with Figma</h1>
        <p class="header__text__description">Most calendars are designed for teams. Slate is designed
            for freelancers</p>
    </div>

    <button class="header__button">Try For Free</button>

</header>