<header>
    <img src="img/header-bgn-img.png" alt=" IT working place">
        <nav>
            <a href="#">Home</a>
            <a href="#">Product</a>
            <a href="#">Pricing</a>
            <a href="#">About</a>
            <a href="#">Contact</a>

        </nav>
        <img src="img/main-logo.png" alt="Figma-logo">

        <div class="social-media-logo">
            <img src="img/twitter-bird.png" alt="Twitter-logo">
            <img src="img/facebook.png" alt="facebook-logo">
            <img src="img/linked-in.png" alt="Linked-in-logo">
        </div>
        <div class="header-text">
            <h1>The best products
                start with Figma</h1>
            <p>Most calendars are designed for teams. Slate is designed
                for freelancers</p>
        </div>
        <button class="header-button">Try For Free</button>
</header>